/* AboutTeam.css */

h1 {
  text-align: center;
}
.about-team {
  text-align: center;
  padding: 20px;
}

.team-members {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.team-member {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background-color: rgb(255, 255, 255);
}

.team-member:hover {
  transform: scale(1.05);
}

.member-image {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.role {
  font-weight: bold;
  color: #555;
}

.bio {
  font-size: 0.9em;
  color: #777;
}